.contact-info{
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 150px;
    float: right;
    margin-left: 87%;
}

a > img {
    max-width: 40px;
    max-height: 50px;
}


Html, body {
  background-image: url('./photos/sunset.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} 

.welcome-div{
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: -1;
    max-width: 600px;
}

.welcome-div > p:first-child{
    font-size: 40px;
    font-weight: 700;
    color: #156064;
}

#main-details-container{
    width: 400px;
    z-index: -1;
    margin-top: 75px;
}
.details-container{
    color: #156064;
    width: 650px;
    z-index: -1;
    padding-left: 30px;
}

.details-container h1{
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: 600;
}
.details-container h2{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}

.rep-container-onload{
    display: flex;
    justify-content: space-between;
}

.rep-container-onload > p{
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-right: 45px
}

.rep-container p{
    font-size: 20px;
    font-weight: 600;
}

.external-links{
    margin-top: 40px;
}
.external-links > a{
    font-size: 20px;
    margin: 30px 10px 0 0px;
    padding: 10px;
    background-color: #F8E16C;
    border-radius: 4px;
}

.external-links > a:hover{
    color: #F8E16C;
    background-color:#156064;;
}