body {
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 40%;
  height: 600px;
  position: relative;
  float: right;
  margin: 40px 0 40px 0px !important;
}
