body {
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 40%;
  height: 600px;
  position: relative;
  float: right;
  /* margin-top: 20px; */
  margin: 20px 0 10px 0px !important;
  /* margin: 60px 0 20px 650px !important; */
  /* align-items: left !important; */
}
